# We don't care about Vagrant's cache
.vagrant/

# User-written config file
conf/conf.yml

# User written nginx configs, certificates et al
nginx/*
!nginx/.keep

# Also SSL directory
ssl/*
!ssl/.keep
