[submodule "repos/promis-frontend"]
	path = repos/promis-frontend
	url = https://github.com/IonosatMicro/promis-frontend.git
	ignore = all
[submodule "repos/promis-backend"]
	path = repos/promis-backend
	url = https://github.com/IonosatMicro/promis-backend.git
	ignore = all
[submodule "promis-testing"]
	path = repos/promis-testing
	url = https://github.com/IonosatMicro/promis-testing.git
	ignore = all
