# We don't care about Vagrant's cache
.vagrant/

# User-written config file
conf/conf.yml

# User written nginx configs, certificates et al
nginx/

# Also SSL directory
ssl/

# Backend-generated stuff
sync/

# Deploy-generated stuff
frontend/deploy/
backend/api/
test/deploy/

# Keeper files
!.keep
