swagger: '2.0'
info:
  title: PROMIS API
  description: Development version, a subject to change
  version: "0.1.0"

# the domain of the service
# (to be changed by deploy?)
host: api.promis

# array of all schemes that your API supports
schemes:
  - http  # for easier testing
  - https

# will be prefixed to all paths
basePath: /api
consumes:
  - application/json
  - application/x-www-form-urlencoded
produces:
  - application/json
paths:
  /projects:
    x-swagger-router-controller: ProjectsView
    get:
      summary: Space projects
      description: |
        This endpoint returns information about available space projects
        and their duration.
      tags:
        - Projects
      responses:
        200:
          description: An array of projects
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /devices:
    x-swagger-router-controller: DevicesView
    get:
      summary: Satellite devices
      description: |
        The Sattelite Devices endpoint returns a list of available devices
        installed on the specific satellite (used in particular space project).
      tags:
        - Devices
      parameters:
        - name: project_id
          in: query
          description: Project ID to query its satellite devices for
          required: true
          type: integer
      responses:
        200:
          description: An array of available devices
          schema:
            type: array
            items:
              $ref: '#/definitions/Device'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /channels:
    x-swagger-router-controller: ChannelsView
    get:
      summary: Satellite channels
      description: |
        The Sattelite Channels endpoint returns a list of available channels
        related to some specific parameters
      tags:
        - Channels
      parameters:
        - name: project_id
          in: query
          description: Project ID to query its satellite channels for
          required: true
          type: integer
      responses:
        200:
          description: An array of available channels
          schema:
            type: array
            items:
              $ref: '#/definitions/Channel'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'


  #/parameters:
    #x-swagger-router-controller: ParametersView
    #get:
     # summary: Measurement parameters
      #description: 
      
  /sessions:
    x-swagger-router-controller: SessionsView
    get:
      summary: Measurement sessions
      description: |
        This endpoint allows to get info about available sessions of a satellite (when it was able to gather the data)
      tags:
        - Measurements
        - Sessions
      parameters:
        - name: project_id
          in: query
          description: Project ID to query its sessions for
          required: true
          type: integer
        - name: fromtime
          in: query
          description: From time
          type: string
          required: true
        - name: totime
          in: query
          description: To time
          type: string
          required: true
        - name: polygon
          description: Geo polygon with desired search area
          in: query
          type: string
          required: true

      responses:
        200:
          description: An array of available sessions
          schema:
            type: array
            items:
              $ref: '#/definitions/Session'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  # more measurement-related endpoints to be added here...
  /measurements/:
    x-swagger-router-controller: MeasurementsView
    get:
      summary: Measurements
      description: |
        Get all measurements
      tags:
        - Measurements
      parameters:
        - name: session
          description: Desired session ID
          in: query
          type: integer
          required: false
        - name: parameter
          description: Desired parameter IDs
          type: array
          in: query
          items:
            type: integer
        - name: channel
          description: Desired channel IDs
          type: array
          in: query
          items:
            type: integer
        - name: minfreq
          type: integer
          in: query
        - name: maxfreq
          type: integer
          in: query

      responses:
        200:
          description: An array of measurements
          schema:
            type: array
            items:
              $ref: '#/definitions/Measurement'

  /quicklook/{id}:
    x-swagger-router-controller: QuicklookView
    get:
      summary: Get a quicklook of data
      description: |
        This endpoint allows to get a quicklook of certain data measurement.
      tags:
        - Measurements
      parameters:
        - name: id
          in: path
          type: string
          required: true

      responses:
        200:
          description: Quicklook data
          schema:
            $ref: '#/definitions/Quicklook'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /download/{id}:
    x-swagger-router-controller: DownloadView
    get:
      summary: Download data
      description: |
        This endpoint allows to get a quicklook of certain data measurement.
      tags:
        - Measurements
      parameters:
        - name: id
          in: path
          type: string
          required: true

      responses:
        200:
          description: Quicklook data
          schema:
            $ref: '#/definitions/Quicklook'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  # testing
  /data/{id}/{action}:
    x-swagger-router-controller: DownloadData
    get:
      summary: Download data
      description: Get data by id
      tags:
        - Measurements
      parameters:
        - name: id
          in: path
          type: string
          required: true
        - name: action
          in: path
          type: string
          required: true
          enum:
            - download
            - quicklook

      responses:
        200:
          description: JSON data
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'

# return objects
definitions:
  Project:
    type: object
    properties:
      id:
        type: number
        description: Unique project ID
      name:
        type: string
        description: Name of the project
      desc:
        type: string
        description: Description of the project
      timelapse:
        $ref: '#/definitions/Time'

  Device:
    type: object
    properties:
      id:
        type: number
        description: Unique device ID
      name:
        type: string
        description: Short name of the device
      desc:
        type: string
        description: Detailed info about the device
      channels:
        type: array
        items:
          type: string

  Channel:
    type: object
    properties:
      id:
        type: number
        description: Unique channel ID
      name:
        type: string
        description: Short name of the channel

  Parameter:
    type: object
    properties:
      id:
        type: number
        description: Unique parameter ID
      name:
        type: string
        description: Short name of the parameter

  Session:
    type: object
    properties:
      id:
        type: integer
        description: Unique session ID
      project:
        type: integer
        description: Related project ID
      orbit:
        type: number
        description: Orbit representation
      geoline:
        type: string
        description: Where data has been measured
      measurements:
        type: array # api links to measurement instances
        description: Available measurements for this session
        items:
          type: string
      time:
        $ref: '#/definitions/Time'

  Measurement:
    type: object
    properties:
      url:
        description: API URL to certain Measurement
        type: string

  Quicklook:
    type: object
    properties:
      data:
        type: string
        description: Quicklook data


  # helper objects next

  Time:
    type: object
    properties:
      begin:
        type: string
      end:
        type: string

  Error:
    type: object
    properties:
      message:
        type: string
        description: Error message
