psycopg2
django
djangorestframework
django-extensions     # for graph models
markdown
django-filter
jsonfield
djsw_wrapper
drf-nested-routers
dj-database-url
django-hvad

# remove after ErintLabs/django-openapi-gen#10 is fixed
jinja2
flex # really?
