psycopg2
django
djangorestframework
django-extensions     # for graph models
markdown
django-filter
jsonfield
djsw_wrapper==0.1.8
drf-nested-routers
dj-database-url
django-hvad
djangorestframework-gis
