.mapSelectionItems {

}

#leaflet,
#cesium {
    width: 100%;
    height: 300px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.mapContainer {
    position: relative;
}

.mapPanel .panel-body {
    padding: 0 !important;
}

.panelFullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.mapZoomBox,
.mapToolBox {
    position: absolute;
    z-index: 1000
}

.innerToolBox > .btn:focus,
.innerToolBox > .btn.active:focus {
   outline: none !important;
}

.mapZoomBox {
    top: 12px;
    left: 12px;
}

.mapToolBox {
    top: 12px;
    left: 0;
    right: 0;
    width: 50%;
    overflow: hidden;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
}