.panel-title a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.panel-title a:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
  color: grey;
}

.panel-title a.collapsed:after {
  content:"\e080";
}

/* try to fix z index for draggables */
.react-draggable {
	transform-style: preserve-3d;
}

.react-draggable:before, .react-draggable:after {
	transform: translateZ(-1em);
}

.margined {
	margin-top: 30px;
}