#leaflet, #cesium {
  width: 100%;
  height: 300px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#OC, .tool3d {
  display: none;
}

.main {
  margin-top: 80px;
}

#panel3 .panel-body {
  padding: 0;
}

#pslabel {
  color: #ddd;
  padding-right: 5px;
}

.samplingrate {
  padding-top: 7px;
}

.quicklook path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.grid path,
.grid line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.25);
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 2.5px;
}

.has-error .form-control {
  border-width: 3px;
}

.welcome {
  font-weight: bold;
}

.wbar {
  margin-left: 50px;
  color: white;
}

.loggednotice {
  display: block;
  color: red;
}

.resultsacts form {
  display: inline-block;
}

.navbar-inverse .navbar-collapse, .navbar-inverse {
  background-color: #666 !important;
   background-image: -webkit-linear-gradient(top,#3c3c3c 0,#666 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#666 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#666));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#666 100%);
}

#panel3 .panel-body {
  position: relative;
}

.maptoolbox {
  top: 12px;
  left: 0;
  right: 0;
  width: 40%;
  overflow: hidden;
  min-width: 250px;
  max-width: 400px;
  margin: 0 auto;
  position: absolute;
  z-index: 1000;
}

.innertoolbox > .btn:focus, .innertoolbox > .btn.active:focus {
   outline: none !important;
}

.panel-fullscreen {

}

.panel-fullheight {
    height: 100% !important;
}

.cesium-viewer-toolbar {
    display: none !important;
}

.maplocation {
    display: none;
}

.alertblock {
  position: fixed;
  margin: 0 auto;
  bottom: 10px;
  width: 400px;
  min-width: 100%;
  max-width: 100%;
}

.alerts, .login-bar, .logout-bar {
  display: none;
}

.modal-content {
  padding: 10px;
}

.panel-group .panel {
  margin-bottom: 10px !important;
}